
body{
    background-color: white;
    font-family: Arial, sans-serif;
}

.starter-background{
    background: #F2F2F2;
}

.body1-color{
    background-color: #EAE4D5;
}

.body2-color{
    background-color: #B6B09F;
}

h1{
    font-family: Helvetica, sans-serif;
}

h4{
    font-family: Helvetica, sans-serif;
}

.nav-item{
    background-color: #B6B09F;
}
